* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#list {
  list-style: none;
  padding: 0;
  width: 12rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
body {
  text-align: center;
  width: 100%;
  padding: 2rem 0;
}
input {
  border: 2px solid grey;
  border-radius: 16px;
  height: 32px;
  padding: 0 8px;
}
button {
  width: 2rem;
  height: 2rem;
  padding: 4px;
  border-radius: 50%;
  background-color: greenyellow;
}
button:hover {
  background-color: rgb(203, 255, 124);
}
li {
  background-color: rgb(188, 255, 255);
  border-radius: 8px;
  box-shadow: 2px 2px 6px grey;
  padding: 0.5rem;
  width: 100%;
}
li > label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
div{
    width: fit-content;
    margin: auto;
    text-align: left;
}
